node_modules
frontend/node_modules
frontend/build
frontend/out
frontend/.next

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/node_modules
backend/config/config.env
backend/config/config-P.env
backend/config/config-D.env


